<form class="grid-form">
    <fieldset>
        <!-- 1行の記述 data-row-spanでグリッド数を調整 -->
        <div data-row-span="4" id="test">
            <!-- 1行の区分けを設定 -->
            <div data-field-span="4">
                <label>タイトル</label>
                <!-- autofocusで初期フォーカス -->    
                <input type="text" autofocus>
            </div>
            <div data-field-span="2">
                <label>サムネイル画像</label>
                <input type="file">
            </div>
            <div data-field-span="2">
                <label>説明</label>
                <input type="text">
            </div>
        </div>
    </fieldset>
</form>

