<!-- <form class="slide-form" action="/tutorial_slides"　method="post"  enctype="multipart/form-data"> -->
<%= f.fields_for :slides, slide do |f_slide| %>
    <fieldset>
        <div id="test-2">
            <div class="slide-img">
                <label>画像</label>
                <%= f_slide.file_field :image %>
            </div>
            <div class="slide-title">
                <label>タイトル</label> 
                <%= f_slide.text_field :title %>
            </div>          
            <div class="slide-description">
                <label>説明</label>
                 <%= f_slide. text_area :body, :size=>"60x10" %> 
            </div>
        </div>
        <!-- <input type="submit"> -->
    </fieldset>
<!-- </form> -->
<% end %> 



