<form class="grid-form" action="/tutorial_slides"　method="post"  enctype="multipart/form-data">
    <fieldset>
        <!-- 1行の記述 data-row-spanでグリッド数を調整 -->
        <div data-row-span="4" id="test">
            <!-- 1行の区分けを設定 -->
            <div data-field-span="4">
                <label>タイトル</label>
                <!-- autofocusで初期フォーカス -->    
                <input type="text" name="slide[title]" autofocus>
            </div>
            <div data-field-span="2">
                <label>サムネイル画像</label>
                <input type="file" name="slide[image]">
            </div>
            <div data-field-span="2">
                <label>説明</label>
                <input type="text" name="slide[body]">
            </div>
        </div>
        <input type="submit">
    </fieldset>
</form>

