<%= slide.youtube.html_safe %>  

<div class="youtube-btn">
  <%= link_to '前へ', slides_change_path(id: slide.tutorial_id, slide_order: slide.order - 1), class: "btn btn-pink2", remote: true %>
  <%= render 'completes/complete_btn', slide: slide %>
  <%= link_to '次へ', slides_change_path(id: slide.tutorial_id, slide_order: slide.order + 1), class: "btn btn-pink2", remote: true %>
</div>
