<h1>Editing slide</h1>

<%= form_for(@slide, url: category_tutorial_slide_path(category_id: params[:category_id], tutorial_id: params[:tutorial_id], id: @slide.id)) do |f| %>
<%= render 'form', f: f %>

<% end %>

<%= link_to 'Back', category_tutorial_path(category_id: params[:category_id], id: params[:tutorial_id]) %>
