<div class="wrapper2">
	<div class="form-new">
		<div class="form-title2">
			<h1>スライドショーを作りましょう</h1>
			<p>スライドショーになる部分を画像と文章を使って、作っていきましょう</p>
		</div>

		<div class="form-contents">
			<%= render 'form2' %>
		</div>

			<%= link_to 'Back', tutorial_path(id: @tutorial.id) %> |
</div>