<h1>New tutorial</h1>

<%= form_for(@tutorial, url: category_tutorials_path(category_id: params[:category_id])) do |f| %>
<%= render 'form', f: f %>
<% end %>

<%= link_to 'Back', category_tutorials_path(category_id: params[:category_id], id: params[:tutorial_id]) %>
