
<div class="main">  
    <div>  

 

<div class="center">
  <h1>Girls Be Creative.</h1>
  <h4>女の子のパワーで、世界を、もっと、クリエイティブに。</h4>

  <%= link_to "Design Girlsをはじめる", new_user_path, class: "btn btn-pink" %>
</div>


<div class="sns">
	<i class="fa fa-heart fb"></i>
	<!-- <i class="fa fa-facebook"></i> -->

	<i class="fa fa-heart twitter"></i>
	<!-- <i class="fa fa-twitter"></i> -->

	<i class="fa fa-heart pocket"></i>
	<i class="fa fa-pocket"></i>
</div>


<div id="about">
	<div id ="whats">
		<h3>About</h3>
		<h4>DESIGN GIRLSとは</h4>

		<div class="about-image">
		</div>

		<h5>
		女の子のための<br>
		Webデザイン<br>
		学習サービス！<br>
		</h5>

		<p>
		DESIGN GIRLSは、女の子のためのWebデザイン学習サービスです。<br>
		今までデザインやプログラミングはなんとなく難しそうで避けてきた女子のみなさん。<br>
		DESIGN GIRLSでは、女の子のために難しいWeb用語をできるだけ簡単に解説し、そして可愛くワクワクするようなHPを作っていきます。<br>
		</p>
	</div>

	<div id="howtowork">
		<div class ="content">
			<ul>
				<li>
					 <div class="title">
					 	Designing
					 </div>
					 <div class="icon">
					 </div>
					 <div class="discription">
					 	PhotoshopやIllustrratorの使い方を勉強します。
					 </div>
				</li>
				<li>					
				     <div class="title">
				     	Coding
					 </div>
					 <div class="icon">
					 </div>
					 <div class="discription">
					 	HTMLやCSSでコーディングをしていきます。
					 </div>
				</li>
				<li>
					 <div class="title">
					 	Posting
					 </div>
					 <div class="icon">
					 </div>
					 <div class="discription">
					 	作ったものをポストして、みんなに見てもらおう！
					 </div>
				</li>
				<li>
					 <div class="title">
					 	Teaching
					 </div>
					 <div class="icon">
					 </div>
					 <div class="discription">
					 	チュートリアルを作って、自分のやり方を公開しよう！
					 </div>
				</li>
			</ul>
		</div>
	</div>
</div>


<div class="clear"></div>



<div id="different-point">
	<div class="content">
	   <i class="fa fa-heart" style="font-size: 56px; color: #fb50a0"></i>

	   <div class="title">
	   	 <h3>DESIGN GIRLSは今までとここが違う！</h3>
	   	 <p>チュートリアルを作って、自分のやり方を公開しよう！チュートリアルを作って、自分のやり方を公開しよう！チュートリアルを作って、自分のやり方を公開しよう！
	   	 </p>
	   </div>

	   <div class="points">
	   	 <ul>
	   	 	<li>
	   	 		<div class="icon">
				</div>
				<div class="title">
					とにかく簡単に！
				</div>				
				<div class="discription">
					本やインターネットで調べても、初心者には独学で学ぶのはなかなか難しいWebデザイン。DESIGN GIRLSは専門用語をとにかく簡単に解説しながら学びます。
				</div>
		    </li>
		    <li>
	   	 		<div class="icon">
				</div>
				<div class="title">
					できあがりが可愛い！
				</div>				
				<div class="discription">
					今までのWeb学習サービスは、作るサンプルが可愛くないものばかり。DESIGN GIRLSで作るものは作っていて楽しいものばかり！
				</div>
		    </li>
		    <li>
	   	 		<div class="icon">
				</div>
				<div class="title">
					自分の作ったものを投稿
				</div>				
				<div class="discription">
					せっかく作ったのに誰にも見てもらえない…そんなクリエイター女子のための作品共有機能を搭載。
				</div>
		    </li>
	   	 </ul>
	   </div>
	</div>
</div>



<div id="howtolearn">
	<div class="content">
		<div class="title">
			<h3>How to Learn</h3>
			<h4>学習の流れ</h4>
		</div>
	  
	</div>

</div>







    </div>  
</div> 


