// Place all the styles related to the Categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.top-img{
	width: 100%;
	background-image: url(/assets/cofee.jpg);
	/* 画像を常に天地左右の中央に配置 */
	  background-position: center center;
	   
	  /* 画像をタイル状に繰り返し表示しない */
	  background-repeat: no-repeat;
	   
	  /* コンテンツの高さが画像の高さより大きい時、動かないように固定 */
	  background-attachment: fixed;
	   
	  /* 表示するコンテナの大きさに基づいて、背景画像を調整 */
	  background-size: cover;
	   
	  /* 背景画像が読み込まれる前に表示される背景のカラー */
	  background-color: #464646;

	min-height: 350px;
	margin-bottom: 80px;
}


.titles {
	padding: 120px 100px 20px 100px;
	float: left;
	width: 400px;
}

.titles h1 {
	font-size: 30px;
}

.titles-img p{	
	margin: 0 auto;
	text-align: center;
	width: 15%;
	height: 150px;
}


// コース一覧
.course {
	width: 90%;
	min-height: 500px;
	margin: 0 auto;
	margin-top: 70px;
}

.course-left {
	width: 80%;
	min-height: 500px;
	float: left;
}

.course-right {
	width: 20%;
	min-height: 500px;
	background-image: url(/assets/sub-bg3.jpg);
	float: left;
}

.photoshop-dl {
	margin: 0 auto;
	text-align: center;
}

.course-right img {
	width: 90%;
	padding: 10px;
}

.category-tutorials {

}

.category-tutorials h3 {
	font-size: 22px;
}


