.goalProgress {
	background: #e0dede;
	padding: 3px;
	height: 15px;
	border-radius: 15px;
}
div.progressBar {
	background: #ff008c;
	color: #fff;
	/*font-size: 1.5em;*/
	font-family: 'helvetica neue', helvetica, arial, sans-serif;
	letter-spacing: -1px;
	font-weight: 700;
	padding: 4px;
	display: block;
	overflow: hidden;
	width: 20px;
	height: 7px;
	border-radius: 15px;
}
span.goalAmount {
	display: none;
	text-indent: -9999px;
	height: 7px;
}