
//category / index

.wrapper{
	margin: 0 auto;
	text-align: center;
	width: 100%;
}

.wrapper-left {
	margin-left: 18%;
	text-align: center;
	width: 82%;
	padding-top: 130px;
}

.wrapper-recent {
	min-height: 400px;
}

.wrapper-contents {
	/* 画像ファイルの指定 */
  background-image: url(/assets/main-bg.png);
   
  /* 画像を常に天地左右の中央に配置 */
  background-position: center center;
   
  /* 画像をタイル状に繰り返し表示しない */
  background-repeat: no-repeat;
   
  /* コンテンツの高さが画像の高さより大きい時、動かないように固定 */
  background-attachment: fixed;
   
  /* 表示するコンテナの大きさに基づいて、背景画像を調整 */
  background-size: cover;
   
  /* 背景画像が読み込まれる前に表示される背景のカラー */
  background-color: #464646;
  height: 100%;
  min-height: 1000px;

  margin: 0 auto;
}

.tabs {
	margin: 0 auto;
	height: 46px;
	width: 45%;
}

.tabs ul li{	
	float: left;	
	width: 160px;
}

.white-bg {
	margin-top: 100px;
	width: 80%;
	background-color: #fff;
	background-color:rgba(255,255,255,0.5);
	/*background-color:rgbaを使用すると、現在の要素だけが透明になる。*/
	padding: 50px 20px 50px 20px;
	min-height: 800px;
    margin: 0 auto;
	
	padding-top: 50px;

}

.lessons, .tutorials, .portfolios {
	min-height: 450px;
}

.lessons h3, .tutorials h3, .portfolios h3 {
	font-size: 18px;
	color: #fb50a0;
	margin-bottom: 20px;
}

.lessons span, .tutorials span, .portfolios span {
	line-height: 20px;
	text-align: center;
}

.details {
	margin-bottom: 20px;
}

.dotted-line {
	border: 3px dotted #f6adba;
	width: 50%;
	margin: 0 auto;
	margin-bottom: 30px;
}




.tutorials-list {
	text-align: center;
	margin: 0 auto;
	float: left;
	width: 20%
}

.tutorials-list .details {
	margin: 0 auto;
	width: 150px;
}

.tutorials-list .details span{
	font-size: 16px;
	line-height: 30px;
}

.tutorials-list .details p{
	line-height: 20px;
}

.clip{
  width: 150px;
  height: 150px;
  margin: 20px;
  border-radius: 100%;
  overflow: hidden;
  background: url("http://hensachi35.com/photos/2014/02/clipTest.jpg") -110px top;
}

img.gravatar {
	width: 150px;
	height: 150px;
	margin: 20px 20px 0px 20px;
	border-radius: 100%;
	overflow: hidden;
}


