// slides

.slide-form {
     width:100%;
     float: left;
     margin: 0 auto;
}

#test-2 {
     margin: 10px;
}

.slide-img {
     float: left;
     width: 50%;
}

.slide-title {
     float: left;
     width: 50%;
}

.slide-description {
     float: left;
     width: 50%;
}

