// Place all the styles related to the Slides controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.slide-form {
	width:100%;
	float: left;
	margin: 0 auto;
}

#test-2 {
	margin: 10px;
}

.slide-img {
	float: left;
	width: 50%;
}

.slide-title {
	float: left;
	width: 50%;
}

.slide-description {
	float: left;
	width: 50%;
}
