// Place all the styles related to the Tutorials controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




.form-buttons {
	float: left;
	display: inline-block;
}


#create-form {
	margin: 0 auto;
	text-align: center;
}

.fieldset {
	text-align: center;
	padding-left: 100px;
}


#test {
}



#test .form-title {
	width: 80%; 
	display: inline-block;

}

#test .form-sumnail {
	width: 38%;
	display: inline-block;
	min-height: 200px;
	padding-left: 100px;
	margin-right: 10px;
	float: left;
}

#test .form-discription {
	width: 38%;
	display: inline-block;
	// float: left;
	line-height: 1.5em;
}

.radio-button {
	margin-left: 100px;
}

.radio-button label{
	display: inline-block;
	width: 100px;
}

.radio-button input {
	width: 20%;
}







//tutorials/show2


// パンくずリスト

#crumbs {
	padding-top: 110px;
}

#crumbs ul li a {
	display: block;
	float: left;
	height: 20px;
	background: #64c2ea;
	text-align: center;
	padding: 10px 15px 0 10px;
	position: relative;
	margin: 0 10px 0 0; 
	
	font-size: 14px;
	text-decoration: none;
	color: #fff;
	padding: 10px 15px 0 30px;
}

#crumbs ul li a:after {
	content: "";  
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
	border-left: 10px solid #64c2ea;
	position: absolute; right: -10px; top: 0;
}

#crumbs ul li a:before {
	content: "";  
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
	border-left: 10px solid transparent;
	position: absolute; left: 0; top: 0;
}

#crumbs ul li:first-child a {
	border-top-left-radius: 10px; border-bottom-left-radius: 10px;
}
#crumbs ul li:first-child a:before {
	display: none; 
}

#crumbs ul li:last-child a {
	padding-right: 80px;
	border-top-right-radius: 10px; border-bottom-right-radius: 10px;
}
#crumbs ul li:last-child a:after {
	display: none; 
}

#crumbs ul li a:hover {
	background: #fa5ba5;
}

#crumbs ul li a:hover:after {
	border-left-color: #fa5ba5;
}

// パンくずリストここまで

.tutorial-titles {
	padding-top: 20px;
	width: 100%;
	float: left;
	margin-left: 40px;
}

.tutorial-titles p{
	float: left;
}

.tutorial-titles h1{
	font-size: 16px;
	float:left;
	margin-bottom: 2px;
}

.wrapper-original {
	width: 90%;
	margin: 0 auto;
}

.titles2 {
	float: left;
	margin-left: 40px;
}

.titles2 h1 {
	font-size: 26px;
	margin-bottom: 2px;
}

.contents{
	min-height: 1000px;
}

.youtube {
	float: left;
	margin: 10px
}

.youtube-btn a{
	// float: left;
	margin: 10px;
	margin-right: 1px;
}

.slideshare{
	float: left;
	margin: 10px;
}





//ボタン
.btn-pink2 {
	display: inline-block;
	width: 100px;
	height: 45px;
	text-align: center;
	text-decoration: none;
	line-height: 54px;
	outline: none;

	position: relative;
	background-color: #fb50a0;
	border-radius: 4px;
	color: #fff;
	line-height: 45px;
	-webkit-transition: none;
	transition: none;
	box-shadow: 0 3px 0 #c4407e;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .3);

	margin-bottom: 20px;
}
.btn-pink2::before,
.btn-pink2::after {
	position: absolute;
	z-index: -1;
	display: block;
	content: '';
}
.btn-pink2,
.btn-pink2::before,
.btn-pink2::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all .3s;
	transition: all .3s;
}
.btn-pink2:hover {
	background-color: #31c8aa;
	box-shadow: 0 3px 0 #23a188;
}

.btn-pink2:active {
	top: 3px;
	box-shadow: none;
}


//ボタンここまで






// tutorials/index

.listing-tutorials {
	width: 80%;
	margin: 0 auto;
	min-height: 600px;
}

.listing-tutorials ul {
	float: left;
	margin: 50px 20px 20px 20px;
}

.listing-tutorials .edit li{
	float: left;
	margin: 5px;
}


