// Place all the styles related to the Tutorials controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.form {
	width: 30%;
	margin: 0 auto;
}

.white-box {
	position: relative;
	width: 80%;
	padding: 30px;
	background-color: #fff;
	opacity: 0.8;
}

.white-box p {
	text-align: center;
}

.facebook-login {
	color: #fff;
	float:left;
	width: 38%;
	height: 30px;
	margin: 10px 5px 40px 5px;
	padding: 10px;
	background-color: #9ba7d5;
	border-radius: 10px;
	font-size: 18px;
	line-height: 30px;
	text-align: center;
}

.twitter-login {
	color: #fff;
	float:left;
	width: 38%;
	height: 30px;
	padding: 10px;
	margin: 10px 5px 40px 5px;
	background-color: #8fc4e5;
	border-radius: 10px;
	font-size: 18px;
	line-height: 30px;
	text-align: center;	
}

// .line {
// 	border: 1px dotted #f6adba;
// }






// show

//中央寄せとpadding
.wrapper{
	margin: 0 auto;
	text-align: center;
	width: 100%;
}

.user {
	min-height: 400px;
	text-align: center;
	margin: 0 auto;
}

.user-tutorials {
	min-height: 600px;
}

