<%= form_for(@product) do |f| %>
  <fieldset class="fieldset">
        <div id="test">
            <div class="form-title">
                <label>タイトル</label>  
                <%= f.text_field :title %>
            </div>
            <div class="form-sumnail">
                <label>サムネイル画像</label>
                <%= f.file_field :image %>
            </div>
            <div class="form-discription">
                <label>説明</label>
                <%= f.text_area :description, :size=>"60x10" %>
            </div>
        </div>
        <input type="submit" value="投稿する", class="btn btn-pink">
    </fieldset>
<% end %>