<footer class="footer">
  <div class="content">
    <div class="fb">
      <p style="float: left; margin-left: 20px; font-size: 18px;">Facebook</p>
      <div class="facebook-widget">
        <iframe src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Fpages%2FDesign-Girls%2F651748578269166&amp;width=400&amp;height=290&amp;colorscheme=light&amp;show_faces=true&amp;header=true&amp;stream=false&amp;show_border=true&amp;appId=742184019209878" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:400px; height:300px;" allowTransparency="true"></iframe>       
      </div>
    </div>

    <div class="twitter">
      <p style="float: left; margin-left: 20px; font-size: 18px;">Twitter</p>
      <div class="twitter-widget">
        <a class="twitter-timeline" href="https://twitter.com/girlsbecreative" data-widget-id="548355446201786371">@girlsbecreativeさんのツイート</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>      
      </div>
    </div>

    <div class="clear"></div>

    <small>
      <a href="#">Design Girls</a>
      by Progate
    </small>

    <nav>
      <ul>
        <li><%= link_to "よくある質問", '#' %></li>
        <li><%= link_to "ご利用規約", '#' %></li>
        <li><a href="#">お問い合わせ</a></li>
      </ul>
    </nav>




    <p>Copyright © DESIGN GIRLS     All Right Reserved.</p>
  </div>
</footer>