<footer class="footer">
  <div class="content">
    <div class="fb">
      <p style="float: left; margin-left: 20px; font-size: 18px;">Facebook</p>
      <div class="facebook-widget">       
      </div>
    </div>

    <div class="twitter">
      <p style="float: left; margin-left: 20px; font-size: 18px;">Twitter</p>
      <div class="twitter-widget">       
      </div>
    </div>

    <div class="clear"></div>

    <small>
      <a href="#">Design Girls</a>
      by Progate
    </small>

    <nav>
      <ul>
        <li><%= link_to "よくある質問", '#' %></li>
        <li><%= link_to "ご利用規約", '#' %></li>
        <li><a href="#">お問い合わせ</a></li>
      </ul>
    </nav>




    <p>Copyright © DESIGN GIRLS     All Right Reserved.</p>
  </div>
</footer>